
/* Style the navbar */
.Gallery .navbar-custom {
    background-color: rgba(174, 174, 174, 0.441);
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    font-family: 'custom-font', sans-serif;
  }
  
  .Gallery .navbar-custom .nav-link {
    margin-right: 25px;
  }
.gallery-container {
    max-width: 960px; /* Limit the maximum width of the gallery container */
    margin: 0 auto; /* Center the gallery container horizontally */
    padding: 20px; /* Add some padding around the gallery */
    padding-top: 50px;
    animation: slideUp 1s ease forwards;
}
@keyframes slideUp {
    from {
      transform: translateY(150px);
    }
    to {
      transform: translateY(0);
    }
  }

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Arrange in three columns with flexible width */
    grid-auto-rows: auto; /* Automatic row sizing */
    gap: 20px; /* Gap between grid items */
    list-style: none; /* Remove list-style */
}

.gallery-image {
    transition: transform 0.3s ease;
  }
  

.gallery-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 768px) {

    .gallery-container {
      padding: 20px 10px; /* Adjust padding for smaller screens */
    }

    .gallery-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns on medium screens */
      gap: 15px; /* Adjust gap for better fit */
      padding: 0; /* Remove default padding */
      margin: 0; /* Remove default margin */
    }

    .gallery-image img {
      width: 100%; /* Ensure images take full width of the container */
      height: auto;
    }
}

@media (max-width: 480px) {

    .gallery-container {
      padding: 10px 5px; /* Further adjust padding for very small screens */
    }

    .gallery-grid {
      grid-template-columns: 1fr; /* Single column on very small screens */
      gap: 10px; /* Further adjust gap */
      padding: 0; /* Remove default padding */
      margin: 0; /* Remove default margin */
    }

    .gallery-image img {
      width: 100%; /* Ensure images take full width of the container */
      height: auto;
    }
}